
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ">
                <span class="subheading">Start Learning Today</span>
                <h2 class="mb-4">Pick Your Course</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
       
        </div>
    </div>
  </section>