<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/image_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9  pb-5 text-center">
                <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="fa fa-chevron-right"></i></a></span> <span>All Courses <i
                            class="fa fa-chevron-right"></i></span></p> -->
                <h1 class="mb-0 bread">Courses</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ">
                <span class="subheading">Start Learning Today</span>
                <h2 class="mb-4">Pick Your Course</h2>
                <button type="button" class="btn btn-primary">Primary</button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>
            <div class="col-md-4">
                <app-course></app-course>
            </div>
            <div class="col-md-4 ">
                <app-course></app-course>
            </div>

        </div>
    </div>
</section>