<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Our Blog</span>
                <h2 class="mb-4">Recent Post</h2>
            </div>
        </div>
        <div class="row d-flex">
            
            <div class="col-lg-4 ftco-animate">
               <app-article></app-article>
            </div>
            <div class="col-lg-4 ftco-animate">
               <app-article></app-article>
            </div>
            <div class="col-lg-4 ftco-animate">
               <app-article></app-article>
            </div>
           
        </div>
    </div>
  </section>